@mixin responsive($breakpoint) {
	@if ($breakpoint==phone) {
		@media (max-width: 37.5em) {
			@content;
		}
	}

	@if ($breakpoint==tab_p) {
		@media (max-width: 56.25em) {
			@content;
		}
	}

	@if ($breakpoint==tab_l) {
		@media (max-width: 75em) {
			@content;
		}
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 45%;

	@include responsive(tab_p) {
		font-size: 40%;
	}

	@include responsive(phone) {
		font-size: 35%;
	}
}

body {
	font-family: 'Fredoka', sans-serif;

	color: $color-text-primary;
	background-color: $color-background;
}

ul {
	list-style: none;
}

input,
textarea {
	font-family: 'Fredoka', sans-serif;

	font-size: 2rem;
	font-weight: $regular;

	padding: 2.5rem;
	color: $color-text-primary;
	background-color: $color-surface-tertiary;
	border-radius: $border-radius-medium;
	border-style: none;

	&:focus {
		outline-style: none;
	}
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
	color: $color-text-primary;
}

button {
	a {
		color: $color-text-accent;
	}
}
