@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

// h1 {
// 	font-size: 6.4rem;
// 	font-weight: $semibold;
// }

// .text-extra-large-SM {
// 	font-size: 4rem;
// 	font-weight: $semibold;
// }

// .text-large-SM {
// 	font-size: 3.2rem;
// 	font-weight: $semibold;
// }

// .text-large-M {
// 	font-size: 3.2rem;
// 	font-weight: $medium;
// }

// .text-medium-M {
// 	font-size: 2.4rem;
// 	font-weight: $medium;
// }

// .text-normal-SM {
// 	font-size: 2rem;
// 	font-weight: $semibold;
// }

// .text-normal-M {
// 	font-size: 2rem;
// 	font-weight: $medium;
// }

// .text-small-M {
// 	font-size: 1.6rem;
// 	font-weight: $medium;
// }

.text-small-R {
	font-size: 1.6rem;
	font-weight: $regular;
}

.text-normal-R {
	font-size: 2rem;
	font-weight: $regular;
}

.text-medium-R {
	font-size: 2.4rem;
	font-weight: $regular;
}

.text-medium-M {
	font-size: 2.4rem;
	font-weight: $medium;
}

.text-medium-SB {
	font-size: 2.4rem;
	font-weight: $semibold;
}

.text-extra-medium-SB {
	font-size: 2.8rem;
	font-weight: $medium;
}

.text-large-M {
	font-size: 4rem;
	font-weight: $medium;
}

.text-extra-large-M {
	font-size: 4.8rem;
	font-weight: $medium;
}

.text-extra-large-SB {
	font-size: 4.8rem;
	font-weight: $semibold;
}

.text-normal-sparsed-M {
	font-size: 2rem;
	font-weight: $regular;
	letter-spacing: 0.5em;
}
