.container-small {
	max-width: 65rem;
	margin: 0 auto;
}

.container-medium {
	width: 70rem;
	padding: 1rem;

	background-color: $color-surface-secondary;
	border-radius: $border-radius-extra-large;
}

.container-large {
	max-width: 112rem;
	margin: 5rem auto;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon {
	padding: 1rem;
	border-radius: 50%;

	&--light {
		background-color: $color-surface-tertiary;
	}

	&--dark {
		background-color: $color-surface-tertiary;
	}
}

.center {
	text-align: center;
}

.input-group {
	position: relative;
	width: 100%;
	grid-column: 2/-1;

	.length-indicator {
		position: absolute;
		bottom: 2.6rem;
		right: 2rem;

		color: $color-accent-primary;
	}

	input,
	textarea {
		width: 100%;
	}
}
