.announcement {
	display: grid;
	grid-template-columns: min-content max-content 1fr min-content;
	grid-gap: 1rem 2rem;
	align-items: center;

	padding: 2.5rem;
	padding-bottom: 3.2rem;
	background-color: $color-surface-primary;
	border-radius: $border-radius-large;

	&__title {
		&::first-letter{
			text-transform: uppercase;
		}
	}

	&__timestamp {
		justify-self: end;
	}

	&__message {
		grid-column: 2/-1;
	}
}
