.btn {
	font-family: 'Fredoka', sans-serif;

	color: $color-text-accent;
	background-color: $color-accent-primary;
	border-style: none;

	cursor: pointer;

	&:disabled {
		cursor: auto;
		background-color: darkgray;

		&:hover {
			background-color: darkgray;
		}
	}

	&:hover {
		background-color: $color-accent-secondary;
	}

	&--capsule {
		font-size: 2.4rem;
		font-weight: $medium;

		display: flex;
		align-items: center;

		padding: 2rem 3rem;
		border-radius: 10rem;

		span {
			margin-right: 1.5rem;
		}
	}

	&--capsule-sm {
		font-size: 2rem;
		font-weight: $medium;

		display: flex;
		align-items: center;

		padding: 2rem 3rem;
		border-radius: 10rem;

		span {
			margin-right: 1.5rem;
		}
	}

	&--round {
		font-size: 2rem;
		font-weight: $medium;

		padding: 2.3rem;
		border-radius: $border-radius-medium;
	}

	&--cancel {
		font-size: 2rem;
		font-weight: $medium;

		padding: 2.3rem;
		color: $color-accent-primary;
		background-color: $color-surface-quarternary;
		border-radius: $border-radius-medium;

		&:hover {
			background-color: $color-surface-primary;
		}
	}

	&--round-lg {
		font-size: 2.4rem;
		font-weight: $medium;

		padding: 2.5rem 4.3rem;
		border-radius: $border-radius-medium;
	}

	&--round-sm {
		font-size: 1.6rem;
		font-weight: $medium;

		padding: 1.2rem 2rem;
		border-radius: $border-radius-normal;
	}

	&--danger {
		color: $color-text-error;
		background-color: $color-surface-error;
	}
}

.btn-alternate {
	font-family: 'Fredoka', sans-serif;

	color: $color-text-secondary;

	background-color: $color-surface-secondary;
	border-radius: $border-radius-medium;
	border-style: none;

	cursor: pointer;

	&:hover {
		color: $color-text-primary;
	}

	span {
		color: $color-text-secondary;
	}
}

// .btn-alternate {
// 	font-family: 'Fredoka', sans-serif;

// 	margin-top: 2rem;
// 	padding: 3.3rem 0;
// 	width: 100%;

// 	color: $color-text-secondary;

// 	background-color: $color-surface-primary;
// 	border-radius: $border-radius-medium;
// 	border-style: none;

// 	cursor: pointer;

// 	&:hover {
// 		background-color: $color-surface-secondary;
// 	}

// 	span {
// 		color: $color-text-secondary;
// 	}
// }
