.chore {
	border-radius: $border-radius-large;
	overflow: hidden;

	&__header {
		display: flex;
		align-items: center;
		padding: 2rem;

		background-color: $color-surface-primary;

		&__title {
			margin-left: 2rem;

			&::first-letter {
				text-transform: uppercase;
			}
		}

		&__timestamp {
			margin-left: auto;
		}
	}

	&__details,
	&__submission-details {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;

		display: grid;
		grid-template-columns: max-content repeat(2, minmax(0, 1fr));
		align-items: center;
		grid-gap: 2.5rem 0;

		padding: 2.4rem 2.8rem;
		background-color: $color-surface-secondary;

		label + div {
			margin-top: 0.3rem;
		}

		& > div:nth-child(2) {
			margin-left: 7rem;
		}

		button,
		a {
			justify-self: end;
			grid-column: 3/-1;
		}
	}

	&__submission-details {
		background-color: $color-surface-secondary;
	}

	&__submission-extras {
		text-align: right;
		background-color: $color-surface-tertiary;
	}

	&__project-details {
		padding: 2.4rem 2.8rem;

		background-color: $color-surface-secondary;

		&__synopsis {
			margin: 2rem 0 2.5rem 0;
		}

		&__team {
			display: grid;
			grid-template-columns: repeat(4, minmax(0, max-content));
			grid-gap: 0 2rem;

			margin: 2rem 0 4rem 0;

			div {
				padding: 1rem 1.5rem;
				background-color: $color-surface-tertiary;
				border-radius: $border-radius-normal;
			}
		}

		button {
			display: flex;
			align-items: center;

			div {
				margin-left: 1rem;
			}
		}
	}
}

.enrolled-students-list {
	margin: 4rem 3rem 6rem 3rem;

	li:not(:first-child) {
		margin-top: 1.5rem;
	}
}

.enrolled-student {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:hover {
		color: $color-accent-primary;
	}
}

.chore-parent {
	position: relative;
}

.btn-team-member {
	margin-top: 2rem;
}
