.course-card {
	border-radius: $border-radius-large;
	overflow: hidden;

	&__details {
		position: relative;
		padding: 3rem;

		&:hover {
			background-color: $color-accent-primary;
			color: $color-text-accent;
		}

		background-color: $color-surface-primary;

		&__name {
			text-transform: capitalize;
		}

		&__code {
			text-transform: uppercase;
			margin-top: 1rem;
		}

		&__avatar {
			position: absolute;
			top: 100%;
			right: 3rem;
			width: 9rem;
			height: 9rem;
			transform: translateY(-50%);

			background-color: $color-surface-quarternary;
			border-radius: 50%;
		}
	}

	&__access {
		display: flex;
		align-items: center;

		padding: 2rem 3rem;
		background-color: $color-surface-secondary;

		&__code {
			margin-right: 2rem;
			justify-self: end;
		}

		.icon {
			margin-right: auto;

			&:hover {
				cursor: pointer;
				background-color: $color-accent-primary;
				color: $color-text-accent;
			}
		}
	}
}

.course-docket {
	&__courses-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 5rem 5rem;

		margin-top: 5rem;
	}

	.join-or-create {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		border-radius: $border-radius-large;
		background-color: $color-surface-secondary;

		& > span:nth-child(2) {
			margin-top: 2rem;
		}

		&:hover {
			background-color: $color-surface-primary;
			cursor: pointer;
		}
	}
}

.popup {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(black, 0.25);
}

.alerts-group {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5000;

	& > div:not(:first-child) {
		margin-top: 2rem;
	}
}

.alert {
	display: grid;
	grid-template-columns: min-content max-content min-content;
	grid-gap: 0 2rem;
	justify-content: center;
	align-items: center;

	padding: 2.5rem;
	border-radius: $border-radius-large;

	&.error {
		color: $color-text-error;
		background-color: $color-surface-error;
	}

	&.success {
		color: $color-text-success;
		background-color: $color-surface-success;
	}

	&__btn-close {
		margin-left: 5rem;
		justify-self: end;

		cursor: pointer;
	}
}
