.create-course {
	form {
		.code {
			grid-column: 2 / span 2;
		}

		.credits {
			grid-column: 5 / span 2;
		}

		.name {
			grid-column: 2/-1;
		}
	}
}

.create-chore {
	form {
		.doc-label {
			display: flex;
			justify-content: center;
			align-items: center;

			cursor: pointer;
			grid-column: 1/-1;

			height: 16rem;

			color: $color-text-primary;
			background-color: $color-surface-quarternary;
			border-radius: $border-radius-extra-large;

			&:hover {
				background-color: black;
			}
		}

		.doc-file {
			display: none;
		}

		.title {
			grid-column: 2 / -1;
		}

		.deadline {
			grid-column: 2 / span 2;
		}

		.points {
			grid-column: 5 / span 2;
		}

		.synopsis {
			grid-column: 2/-1;
		}

		.team-member {
			grid-column: 1/-1;
		}
	}
}

.create-announcement {
	form {
		.title {
			grid-column: 2 / -1;
		}

		.message {
			grid-column: 2 / -1;
		}
	}
}

.create-discussion {
	form {
		.issue {
			grid-column: 2 / -1;
		}
	}
}

.create {
	&__form {
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
		grid-gap: 2rem;
		align-items: center;

		padding: 4rem 3rem 0 3rem;
	}

	&-heading {
		padding: 2rem;
		padding-left: 3rem;
		background-color: $color-surface-primary;
		border-radius: $border-radius-large;
	}

	&__file {
		padding: 4rem 3rem 0 3rem;
	}

	&__cta {
		text-align: right;
		margin: 5rem 3rem 3rem 0;

		& > button:not(:first-child) {
			margin-left: 2rem;
		}
	}
}

.join-course {
	form {
		label {
			grid-column: 1 / span 2;
		}

		.accessCode {
			grid-column: 3/7;
		}
	}
}
