.discussion {
	border-radius: $border-radius-large;
	overflow: hidden;

	&__header {
		display: flex;
		align-items: center;
		padding: 2rem;

		background-color: $color-surface-primary;

		&__student-name {
			margin-left: 2rem;
		}

		&__timestamp {
			margin-left: auto;
		}
	}

	&__details {
		padding: 2.4rem 2.8rem;
		background-color: $color-surface-secondary;

		&__issue {
			margin-bottom: 4rem;
		}

		&__comment-input {
			display: grid;
			grid-template-columns: 1fr min-content;
			grid-gap: 0 2rem;
		}
	}

	.individual-comment {
		display: grid;
		grid-template-columns: min-content 1fr;
		align-items: center;
		grid-gap: 0 2rem;

		margin-bottom: 4rem;

		&__avatar {
			width: 4rem;
			height: 4rem;

			background-color: $color-surface-tertiary;
			border-radius: 50%;
		}

		&__text {
			grid-column: 2/-1;
		}
	}
}
