.individual-course {
	&__banner {
		display: flex;
		flex-direction: column;
		height: 35rem;
		padding: 3rem 4rem;
		margin-bottom: 5rem;

		background-color: $color-surface-primary;
		border-radius: $border-radius-large;

		&__name {
			text-transform: capitalize;
		}

		&__code {
			text-transform: uppercase;
			margin-top: 1rem;
		}

		&__access {
			display: flex;
			align-items: center;

			margin-top: auto;

			.access-code {
				margin-right: 2rem;
			}

			.icon:hover {
				cursor: pointer;
				background-color: $color-accent-primary;
				color: $color-text-accent;
			}

			.instructor-name {
				margin-right: 2rem;
				padding: 1rem 2rem;
				text-transform: capitalize;

				background-color: $color-surface-tertiary;
				border-radius: $border-radius-extra-large;
			}
		}
	}

	&__work {
		display: grid;
		grid-template-columns: 1fr 2.2fr;
		grid-gap: 5rem;

		&__category {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2rem 3rem;
			align-self: start;

			background-color: $color-surface-primary;
			border-radius: $border-radius-medium;

			position: relative;
			text-transform: capitalize;

			cursor: pointer;

			&:hover {
				background-color: $color-surface-secondary;
			}
		}

		&__chore-p-create {
			display: flex;
			flex-direction: column;

			.create {
				align-self: end;
				margin-bottom: 5rem;
			}
		}

		&__list {
			& > li:not(:last-child) {
				margin-bottom: 3rem;
			}
		}
	}
}

.category-list {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 110%;
	left: 0;
	padding: 2rem 2.5rem;
	width: 100%;

	background-color: $color-surface-secondary;
	border-radius: $border-radius-medium;

	a:not(:first-child) {
		margin-top: 1rem;
	}

	a {
		padding: 0.8rem 1.6rem;
		border-radius: $border-radius-normal;

		&:hover {
			background-color: $color-accent-primary;
			color: $color-text-accent;
		}
	}
}

.icon {
	&--more {
		margin-left: 2rem;
	}
}

.more-dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 2rem;
	z-index: 1000;
	padding: 1rem;

	background-color: $color-surface-tertiary;
	border-radius: $border-radius-extra-large;

	button {
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}
}

.empty-list {
	padding: 2rem 0;
	background-color: $color-surface-secondary;
	border-radius: $border-radius-medium;
}

.more-p-dropdown {
	span:hover {
		color: $color-accent-primary;
		cursor: pointer;
	}
}
