@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 45%; }

body {
  font-family: 'Fredoka', sans-serif;
  color: #d9d9d9;
  background-color: #121212; }

ul {
  list-style: none; }

input,
textarea {
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 2.5rem;
  color: #d9d9d9;
  background-color: #2c2c2c;
  border-radius: 2rem;
  border-style: none; }
  input:focus,
  textarea:focus {
    outline-style: none; }

textarea {
  resize: none; }

a {
  text-decoration: none;
  color: #d9d9d9; }

button a {
  color: #1e1e1e; }

.text-small-R {
  font-size: 1.6rem;
  font-weight: 400; }

.text-normal-R {
  font-size: 2rem;
  font-weight: 400; }

.text-medium-R {
  font-size: 2.4rem;
  font-weight: 400; }

.text-medium-M {
  font-size: 2.4rem;
  font-weight: 500; }

.text-medium-SB {
  font-size: 2.4rem;
  font-weight: 600; }

.text-extra-medium-SB {
  font-size: 2.8rem;
  font-weight: 500; }

.text-large-M {
  font-size: 4rem;
  font-weight: 500; }

.text-extra-large-M {
  font-size: 4.8rem;
  font-weight: 500; }

.text-extra-large-SB {
  font-size: 4.8rem;
  font-weight: 600; }

.text-normal-sparsed-M {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5em; }

.container-small {
  max-width: 65rem;
  margin: 0 auto; }

.container-medium {
  width: 70rem;
  padding: 1rem;
  background-color: #242424;
  border-radius: 3rem; }

.container-large {
  max-width: 112rem;
  margin: 5rem auto; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }

.icon {
  padding: 1rem;
  border-radius: 50%; }
  .icon--light {
    background-color: #2c2c2c; }
  .icon--dark {
    background-color: #2c2c2c; }

.center {
  text-align: center; }

.input-group {
  position: relative;
  width: 100%;
  grid-column: 2/-1; }
  .input-group .length-indicator {
    position: absolute;
    bottom: 2.6rem;
    right: 2rem;
    color: #cb9efb; }
  .input-group input,
  .input-group textarea {
    width: 100%; }

.announcement {
  display: grid;
  grid-template-columns: min-content max-content 1fr min-content;
  grid-gap: 1rem 2rem;
  align-items: center;
  padding: 2.5rem;
  padding-bottom: 3.2rem;
  background-color: #1e1e1e;
  border-radius: 2.5rem; }
  .announcement__title::first-letter {
    text-transform: uppercase; }
  .announcement__timestamp {
    justify-self: end; }
  .announcement__message {
    grid-column: 2/-1; }

.sign-up,
.sign-in {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 6rem 8rem;
  min-width: 70rem;
  height: 100%;
  background-color: #242424;
  border-radius: 2.5rem 0 0 2.5rem; }
  .sign-up .account-type-tabs,
  .sign-in .account-type-tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0 1rem;
    text-align: center; }
    .sign-up .account-type-tabs .tab,
    .sign-in .account-type-tabs .tab {
      padding: 2rem 3rem;
      border-radius: 2.5rem;
      background-color: #2c2c2c;
      cursor: pointer; }
      .sign-up .account-type-tabs .tab:hover,
      .sign-in .account-type-tabs .tab:hover {
        background-color: #1e1e1e; }
    .sign-up .account-type-tabs .active-tab,
    .sign-in .account-type-tabs .active-tab {
      padding: 2rem 3rem;
      color: #1e1e1e;
      background-color: #cb9efb;
      border-radius: 2.5rem;
      cursor: pointer; }
  .sign-up a,
  .sign-in a {
    text-align: center; }
    .sign-up a button,
    .sign-in a button {
      margin-top: 3rem; }
  .sign-up form,
  .sign-in form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    margin-top: 5rem;
    width: 100%; }
    .sign-up form .large-input,
    .sign-in form .large-input {
      grid-column: 1/-1; }
    .sign-up form > button,
    .sign-in form > button {
      margin-top: 1rem; }

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 4.8rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  color: #d9d9d9; }

.auth-parent {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, max-content));
  grid-template-rows: 83rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border-radius: 3rem; }
  .auth-parent .side-image {
    height: 100%;
    max-width: 70rem;
    object-fit: cover;
    border-radius: 0 2.5rem 2.5rem 0; }

.btn {
  font-family: 'Fredoka', sans-serif;
  color: #1e1e1e;
  background-color: #cb9efb;
  border-style: none;
  cursor: pointer; }
  .btn:disabled {
    cursor: auto;
    background-color: darkgray; }
    .btn:disabled:hover {
      background-color: darkgray; }
  .btn:hover {
    background-color: #DCBDFB; }
  .btn--capsule {
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 10rem; }
    .btn--capsule span {
      margin-right: 1.5rem; }
  .btn--capsule-sm {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 10rem; }
    .btn--capsule-sm span {
      margin-right: 1.5rem; }
  .btn--round {
    font-size: 2rem;
    font-weight: 500;
    padding: 2.3rem;
    border-radius: 2rem; }
  .btn--cancel {
    font-size: 2rem;
    font-weight: 500;
    padding: 2.3rem;
    color: #cb9efb;
    background-color: #121212;
    border-radius: 2rem; }
    .btn--cancel:hover {
      background-color: #1e1e1e; }
  .btn--round-lg {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 2.5rem 4.3rem;
    border-radius: 2rem; }
  .btn--round-sm {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    border-radius: 1.5rem; }
  .btn--danger {
    color: #c93b37;
    background-color: #ff938b; }

.btn-alternate {
  font-family: 'Fredoka', sans-serif;
  color: #989899;
  background-color: #242424;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer; }
  .btn-alternate:hover {
    color: #d9d9d9; }
  .btn-alternate span {
    color: #989899; }

.chore {
  border-radius: 2.5rem;
  overflow: hidden; }
  .chore__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #1e1e1e; }
    .chore__header__title {
      margin-left: 2rem; }
      .chore__header__title::first-letter {
        text-transform: uppercase; }
    .chore__header__timestamp {
      margin-left: auto; }
  .chore__details, .chore__submission-details {
    display: grid;
    grid-template-columns: max-content repeat(2, minmax(0, 1fr));
    align-items: center;
    grid-gap: 2.5rem 0;
    padding: 2.4rem 2.8rem;
    background-color: #242424; }
    .chore__details label + div, .chore__submission-details label + div {
      margin-top: 0.3rem; }
    .chore__details > div:nth-child(2), .chore__submission-details > div:nth-child(2) {
      margin-left: 7rem; }
    .chore__details button,
    .chore__details a, .chore__submission-details button,
    .chore__submission-details a {
      justify-self: end;
      grid-column: 3/-1; }
  .chore__submission-details {
    background-color: #242424; }
  .chore__submission-extras {
    text-align: right;
    background-color: #2c2c2c; }
  .chore__project-details {
    padding: 2.4rem 2.8rem;
    background-color: #242424; }
    .chore__project-details__synopsis {
      margin: 2rem 0 2.5rem 0; }
    .chore__project-details__team {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, max-content));
      grid-gap: 0 2rem;
      margin: 2rem 0 4rem 0; }
      .chore__project-details__team div {
        padding: 1rem 1.5rem;
        background-color: #2c2c2c;
        border-radius: 1.5rem; }
    .chore__project-details button {
      display: flex;
      align-items: center; }
      .chore__project-details button div {
        margin-left: 1rem; }

.enrolled-students-list {
  margin: 4rem 3rem 6rem 3rem; }
  .enrolled-students-list li:not(:first-child) {
    margin-top: 1.5rem; }

.enrolled-student {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .enrolled-student:hover {
    color: #cb9efb; }

.chore-parent {
  position: relative; }

.btn-team-member {
  margin-top: 2rem; }

.course-card {
  border-radius: 2.5rem;
  overflow: hidden; }
  .course-card__details {
    position: relative;
    padding: 3rem;
    background-color: #1e1e1e; }
    .course-card__details:hover {
      background-color: #cb9efb;
      color: #1e1e1e; }
    .course-card__details__name {
      text-transform: capitalize; }
    .course-card__details__code {
      text-transform: uppercase;
      margin-top: 1rem; }
    .course-card__details__avatar {
      position: absolute;
      top: 100%;
      right: 3rem;
      width: 9rem;
      height: 9rem;
      transform: translateY(-50%);
      background-color: #121212;
      border-radius: 50%; }
  .course-card__access {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    background-color: #242424; }
    .course-card__access__code {
      margin-right: 2rem;
      justify-self: end; }
    .course-card__access .icon {
      margin-right: auto; }
      .course-card__access .icon:hover {
        cursor: pointer;
        background-color: #cb9efb;
        color: #1e1e1e; }

.course-docket__courses-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 5rem 5rem;
  margin-top: 5rem; }

.course-docket .join-or-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #242424; }
  .course-docket .join-or-create > span:nth-child(2) {
    margin-top: 2rem; }
  .course-docket .join-or-create:hover {
    background-color: #1e1e1e;
    cursor: pointer; }

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25); }

.alerts-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5000; }
  .alerts-group > div:not(:first-child) {
    margin-top: 2rem; }

.alert {
  display: grid;
  grid-template-columns: min-content max-content min-content;
  grid-gap: 0 2rem;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  border-radius: 2.5rem; }
  .alert.error {
    color: #c93b37;
    background-color: #ff938b; }
  .alert.success {
    color: #347d39;
    background-color: #8ddb8c; }
  .alert__btn-close {
    margin-left: 5rem;
    justify-self: end;
    cursor: pointer; }

.create-course form .code {
  grid-column: 2 / span 2; }

.create-course form .credits {
  grid-column: 5 / span 2; }

.create-course form .name {
  grid-column: 2/-1; }

.create-chore form .doc-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  grid-column: 1/-1;
  height: 16rem;
  color: #d9d9d9;
  background-color: #121212;
  border-radius: 3rem; }
  .create-chore form .doc-label:hover {
    background-color: black; }

.create-chore form .doc-file {
  display: none; }

.create-chore form .title {
  grid-column: 2 / -1; }

.create-chore form .deadline {
  grid-column: 2 / span 2; }

.create-chore form .points {
  grid-column: 5 / span 2; }

.create-chore form .synopsis {
  grid-column: 2/-1; }

.create-chore form .team-member {
  grid-column: 1/-1; }

.create-announcement form .title {
  grid-column: 2 / -1; }

.create-announcement form .message {
  grid-column: 2 / -1; }

.create-discussion form .issue {
  grid-column: 2 / -1; }

.create__form {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: center;
  padding: 4rem 3rem 0 3rem; }

.create-heading {
  padding: 2rem;
  padding-left: 3rem;
  background-color: #1e1e1e;
  border-radius: 2.5rem; }

.create__file {
  padding: 4rem 3rem 0 3rem; }

.create__cta {
  text-align: right;
  margin: 5rem 3rem 3rem 0; }
  .create__cta > button:not(:first-child) {
    margin-left: 2rem; }

.join-course form label {
  grid-column: 1 / span 2; }

.join-course form .accessCode {
  grid-column: 3/7; }

.discussion {
  border-radius: 2.5rem;
  overflow: hidden; }
  .discussion__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #1e1e1e; }
    .discussion__header__student-name {
      margin-left: 2rem; }
    .discussion__header__timestamp {
      margin-left: auto; }
  .discussion__details {
    padding: 2.4rem 2.8rem;
    background-color: #242424; }
    .discussion__details__issue {
      margin-bottom: 4rem; }
    .discussion__details__comment-input {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-gap: 0 2rem; }
  .discussion .individual-comment {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-gap: 0 2rem;
    margin-bottom: 4rem; }
    .discussion .individual-comment__avatar {
      width: 4rem;
      height: 4rem;
      background-color: #2c2c2c;
      border-radius: 50%; }
    .discussion .individual-comment__text {
      grid-column: 2/-1; }

.individual-course__banner {
  display: flex;
  flex-direction: column;
  height: 35rem;
  padding: 3rem 4rem;
  margin-bottom: 5rem;
  background-color: #1e1e1e;
  border-radius: 2.5rem; }
  .individual-course__banner__name {
    text-transform: capitalize; }
  .individual-course__banner__code {
    text-transform: uppercase;
    margin-top: 1rem; }
  .individual-course__banner__access {
    display: flex;
    align-items: center;
    margin-top: auto; }
    .individual-course__banner__access .access-code {
      margin-right: 2rem; }
    .individual-course__banner__access .icon:hover {
      cursor: pointer;
      background-color: #cb9efb;
      color: #1e1e1e; }
    .individual-course__banner__access .instructor-name {
      margin-right: 2rem;
      padding: 1rem 2rem;
      text-transform: capitalize;
      background-color: #2c2c2c;
      border-radius: 3rem; }

.individual-course__work {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  grid-gap: 5rem; }
  .individual-course__work__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    align-self: start;
    background-color: #1e1e1e;
    border-radius: 2rem;
    position: relative;
    text-transform: capitalize;
    cursor: pointer; }
    .individual-course__work__category:hover {
      background-color: #242424; }
  .individual-course__work__chore-p-create {
    display: flex;
    flex-direction: column; }
    .individual-course__work__chore-p-create .create {
      align-self: end;
      margin-bottom: 5rem; }
  .individual-course__work__list > li:not(:last-child) {
    margin-bottom: 3rem; }

.category-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  left: 0;
  padding: 2rem 2.5rem;
  width: 100%;
  background-color: #242424;
  border-radius: 2rem; }
  .category-list a:not(:first-child) {
    margin-top: 1rem; }
  .category-list a {
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem; }
    .category-list a:hover {
      background-color: #cb9efb;
      color: #1e1e1e; }

.icon--more {
  margin-left: 2rem; }

.more-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  z-index: 1000;
  padding: 1rem;
  background-color: #2c2c2c;
  border-radius: 3rem; }
  .more-dropdown button:not(:first-child) {
    margin-top: 1rem; }

.empty-list {
  padding: 2rem 0;
  background-color: #242424;
  border-radius: 2rem; }

.more-p-dropdown span:hover {
  color: #cb9efb;
  cursor: pointer; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 112rem;
  margin: 0.5rem auto;
  color: #d9d9d9; }
  .navbar-parent {
    background-color: #242424; }
  .navbar__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    padding: 1rem 2.5rem 1.5rem 0rem; }
  .navbar__profile {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    position: relative; }
  .navbar__account {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    background-color: #cb9efb;
    border-radius: 50%;
    cursor: pointer; }
    .navbar__account .account-name {
      margin-left: -5rem; }
  .navbar__logout {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    padding: 2rem 2.5rem;
    background-color: #2c2c2c;
    border-radius: 2.5rem; }
    .navbar__logout:hover {
      background-color: #cb9efb;
      color: #1e1e1e; }

.study-material {
  border-radius: 2.5rem;
  overflow: hidden; }
  .study-material__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #1e1e1e; }
    .study-material__header__title {
      margin-left: 2rem; }
      .study-material__header__title::first-letter {
        text-transform: uppercase; }
    .study-material__header__timestamp {
      margin-left: auto; }
  .study-material__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 2.8rem;
    background-color: #242424; }

.submissions-docket__submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 1.5rem; }
  .submissions-docket__submission:not(:last-child) {
    margin-bottom: 1.5rem; }
  .submissions-docket__submission__student-institute-id {
    margin-left: 1rem; }
  .submissions-docket__submission__grade-status {
    padding: 0.8rem 1.4rem;
    background-color: #242424;
    border-radius: 1rem; }

.chore-submission__details__heading {
  text-align: right;
  margin-bottom: 2.5rem; }

.chore-submission__submissions__heading, .chore-submission__individual-submission__heading {
  text-align: right;
  margin-top: 5rem;
  margin-bottom: 2.5rem; }

.chore-submission__submissions > button, .chore-submission__individual-submission > button {
  margin-top: 2.5rem; }
